html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #E9DACE;
  min-height: 2000px;
}

.container {
  margin: auto;
  max-width: 1170px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #434341;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-default {
  padding: 15px 65px;
  background-color: #434341;
  color: #E9DACE;
  font-size: 22px;
  font-weight: 800;
  border-radius: 50px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.btn-default:hover {
  background-color: #252525;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.title-section {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.title-section .line-text {
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 500;
  padding: 0 100px;
  position: relative;
  z-index: 2;
  background-color: #E9DACE;
}
.title-section .line {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #434341;
  z-index: 1;
  top: 50%;
}
.title-section .line-1 {
  left: 0;
}
.title-section .line-2 {
  right: 0;
}

.default-list {
  padding: 30px 30px 45px;
  border-top: 1px solid #434341;
  border-bottom: 1px solid #434341;
}
.default-list li {
  position: relative;
  margin-bottom: 20px;
  color: #434341;
  font-size: 18px;
  font-weight: 300;
  list-style-type: disc;
}
.default-list li b {
  font-weight: 700;
}
.default-list li:last-child {
  margin-bottom: 0;
}
.default-list li::marker {
  font-size: 18px;
}

.list-columns {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #E9DACE;
}
.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}
.header .header-wrapper .logo {
  line-height: 0;
}
.header .header-wrapper .logo a {
  line-height: 0;
}
.header .header-wrapper .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .header-wrapper .header-navigation .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  font-size: 18px;
  color: #434341;
  font-weight: 300;
}
.header .header-wrapper .header-navigation .header-info a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #434341;
}
.header .header-wrapper .header-navigation .header-info a.cta-button {
  padding: 10px 45px;
  margin-left: 45px;
  background-color: #434341;
  color: #E9DACE;
  font-size: 16px;
  font-weight: 900;
  border-radius: 35px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.header .header-wrapper .header-navigation .header-info a.cta-button:hover {
  background-color: #252525;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.header .header-wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header-wrapper .nav li {
  margin-right: 43px;
  position: relative;
}
.header .header-wrapper .nav li:last-child {
  margin-right: 0;
}
.header .header-wrapper .nav li:hover a {
  font-weight: 700;
  padding: 0;
}
.header .header-wrapper .nav li:hover a:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.header .header-wrapper .nav li a {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #434341;
  margin: 0;
  text-transform: uppercase;
  padding: 0 2px;
}
.header .header-wrapper .nav li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #434341;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transition: transform 0.3s cubic-bezier(0.33, 1, 0.68, 1), -webkit-transform 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}
.header .header-wrapper .nav li.current-menu-item a {
  font-weight: 700;
}
.header .header-wrapper .nav li.current-menu-item a:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #434341;
  position: absolute;
  left: 0;
  bottom: 0;
}
.header .header-wrapper .nav li.menu-item-has-children {
  position: relative;
}
.header .header-wrapper .nav li.menu-item-has-children::after {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 7px;
  background-image: url("../img/chevron.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: 50%;
  right: -18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.header .header-wrapper .nav li.menu-item-has-children:hover::after {
  background-image: url("../img/chevron-bold.svg");
  -webkit-transform: translateY(-50%) rotate(0);
          transform: translateY(-50%) rotate(0);
}
.header .header-wrapper .nav li.menu-item-has-children .sub-menu {
  list-style: none;
  padding: 23px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  background: #E9DACE;
  border: 1px solid #ccc;
  border-radius: 31px;
  min-width: 400px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  z-index: 100;
}
.header .header-wrapper .nav li.menu-item-has-children .sub-menu:before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  left: 0;
}
.header .header-wrapper .nav li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.header .header-wrapper .nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #434341;
  font-size: 18px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .header-wrapper .nav a:last-child {
  margin-right: 0;
}

.hero {
  background-image: url("../img/van-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 100px;
}
.hero h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 500;
}
.hero .hero-list {
  margin: 33px 0 50px;
  max-width: 470px;
  padding: 20px 20px 40px 35px;
}
.hero .hero-list li {
  position: relative;
  margin-bottom: 45px;
  color: #434341;
  font-size: 22px;
  font-weight: 300;
}
.hero .hero-list li b {
  font-weight: 700;
}
.hero .hero-list li:last-child {
  margin-bottom: 0;
}
.hero .hero-list li::marker {
  font-size: 14px;
}

.info-section {
  padding: 100px 0 32px;
}
.info-section .info-wrap {
  padding: 0 100px;
}
.info-section .info-wrap .info-text {
  margin-bottom: 30px;
}
.info-section .info-wrap .info-text p {
  text-align: center;
  margin-bottom: 10px;
}
.info-section .info-wrap .info-text p:last-child {
  margin-bottom: 0;
}
.info-section .info-wrap .bold-text {
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

.services-section {
  padding: 32px 0 40px;
}
.services-section .services-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}
.services-section .services-items .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 48px;
  border: 1px solid #434341;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services-section .services-items .services-item .services-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services-section .services-items .services-item .services-icon p {
  font-weight: 400;
  margin-left: 20px;
}
.services-section .services-items .services-item svg {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.services-section .services-items .services-item:hover {
  -webkit-box-shadow: 0 0 14px 0 rgba(67, 67, 67, 0.5);
          box-shadow: 0 0 14px 0 rgba(67, 67, 67, 0.5);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.services-section .services-items .services-item:hover svg {
  -webkit-transform: translateX(55px);
          transform: translateX(55px);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.can-do-section {
  padding: 40px 0 50px;
}
.can-do-section .title-two-row {
  margin: 0 auto 80px;
}
.can-do-section .title-two-row .line-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.can-do-section .title-two-row .line.line-1 {
  top: 25%;
}
.can-do-section .title-two-row .line.line-2 {
  top: 75%;
}
.can-do-section .can-do-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}
.can-do-section .can-do-list .can-do-left {
  width: 50%;
  padding-right: 115px;
}
.can-do-section .can-do-list .can-do-right {
  width: 50%;
  padding-left: 115px;
  border-left: 1px solid #434341;
}
.can-do-section .can-do-list .can-do-item {
  padding: 0;
  margin-bottom: 70px;
}
.can-do-section .can-do-list .can-do-item:last-child {
  margin-bottom: 0;
}
.can-do-section .can-do-list .can-do-item .title-can-do {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 1px solid #434341;
  min-height: 60px;
}
.can-do-section .can-do-list .can-do-item .text-can-do {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 18px;
  min-height: 70px;
}
.can-do-section .can-do-list .can-do-item:last-child .text-can-do {
  margin-bottom: 0;
  min-height: unset;
}

.choice-section {
  padding: 50px 0 0;
}
.choice-section .choice-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.choice-section .card-choice {
  width: calc(50% - 15px);
  margin-bottom: 60px;
  padding-top: 85px;
  position: relative;
}
.choice-section .card-choice .choice-count {
  font-size: 250px;
  font-weight: 400;
  position: absolute;
  opacity: 0.05;
  left: 0;
  top: -60px;
}
.choice-section .card-choice .card-choice-title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #434341;
}
.choice-section .card-choice p {
  line-height: 130%;
}

.collab-section {
  padding: 50px 0;
}