// Variables
$primary-color: #434341;
$secondary-color: #E9DACE;
$border-color: #ddd;
$font-family: Montserrat, sans-serif;
$font-size: 18px;
$header-height: 60px;
$background-primary: #E9DACE;

// Default

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
body{
  background-color: $background-primary;
  position: relative;
}
.container{
  margin: auto;
  max-width: 1170px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
p{
  font-size: 18px;
  font-weight: 300;
  color: $primary-color;
  line-height: 130%;
}
b{
  font-weight: 700;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn-default {
  padding: 15px 65px;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 22px;
  font-weight: 800;
  border-radius: 50px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #252525;
    transition: background-color 0.3s ease;
  }
}
.title-section{
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  .line-text{
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 500;
    padding: 0 100px;
    position: relative;
    z-index: 2;
    background-color: $secondary-color;
  }
  &.one-line{
    text-align: left;
    .line-text{
      padding: 0 60px 0 0;
    }
    .line-2{
      width: 90%;
    }
    &.multiline{
      .line-2{
        top: 75%;
      }
    }
  }
  .line{
    position: absolute;
    width: 50%;
    height: 0.5px;
    background-color: $primary-color;
    z-index: 1;
    top: 50%;
    opacity: 0.5;
  }
  .line-1{
    left: 0;
  }
  .line-2{
    right: 0;
  }
}
.nothalf-title{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  .line-wrap{
    width: 75%;
    display: flex;
    align-items: center;
    .line-text{
      text-transform: uppercase;
      font-size: 55px;
      font-weight: 500;
      padding-right: 35px;
      position: relative;
      z-index: 2;
      background-color: $secondary-color;
    }
    .line-2{
      height: 0.5px;
      background-color: $primary-color;
      position: absolute;
      width: 60%;
      z-index: 1;
      right: 0;
      opacity: 0.5;
    }
  }
  .line-1{
    height: 0.5px;
    background-color: $primary-color;
    width: calc(25% - 40px);
    opacity: 0.5;
  }
}
.default-list{
  padding: 30px 30px 45px;
  border-top: 1px solid #434341;
  border-bottom: 1px solid #434341;
  li{
    position: relative;
    margin-bottom: 20px;
    color: $primary-color;
    font-size: 18px;
    font-weight: 300;
    list-style-type: disc;
    b{
      font-weight: 700;
    }
    &:last-child{
      margin-bottom: 0;
    }
    &::marker {
      font-size: 18px;
    }
  }
}
.list-columns{
  column-count: 2;
  column-gap: 60px;
}
.list-title{
  display: flex;
}
.title-page{
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

// Header Styles

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $secondary-color;
  border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    background-color: transparent;
    border-bottom: 1px solid $border-color;
    .logo{
      line-height: 0;
      a{
        line-height: 0;
      }
    }
    .header-navigation{
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .header-info{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 25px;
        font-size: $font-size;
        color: $primary-color;
        font-weight: 300;
        padding-right: 13px;
        a {
          margin-left: 20px;
          text-decoration: none;
          font-size: $font-size;
          font-weight: 700;
          color: $primary-color;

          &.cta-button {
            padding: 10px 45px;
            margin-left: 45px;
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 16px;
            font-weight: 900;
            border-radius: 35px;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #252525;
              transition: background-color 0.3s ease;
            }
          }

        }
        .languages{
          a{
            position: relative;
            &::after{
              content: "";
              display: block;
              position: absolute;
              width: 9px;
              height: 6px;
              background-image: url('../img/chevron-small.svg');
              background-size: cover;
              background-repeat: no-repeat;
              top: 8px;
              right: -11px;
              transform: translateY(-50%);
              transition: transform 0.5s ease;
            }
            &:hover::after {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 20px;
      li{
        margin-right: 43px;
        position: relative;
        &:last-child {
          margin-right: 0;
        }
        &:hover a{
          font-weight: 700;
          padding: 0;
        }
        &:hover a:before{
          transform: scaleX(1);
          transform-origin: left;
          transition: transform .3s cubic-bezier(.33,1,.68,1);
        }
        a{
          position: relative;
          font-size: 16px;
          font-weight: 300;
          color: $primary-color;
          margin: 0;
          text-transform: uppercase;
          padding: 0 2px;
          &:before{
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: $primary-color;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .3s cubic-bezier(.33,1,.68,1);
          }
        }
        &.current-menu-item{
          a{
            font-weight: 700;
            &:before{
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              background-color: $primary-color;
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
        }
        &.menu-item-has-children{
          position: relative;
          &::after{
            content: "";
            display: block;
            position: absolute;
            width: 13px;
            height: 7px;
            background-image: url('../img/chevron.svg');
            background-size: cover;
            background-repeat: no-repeat;
            top: 50%;
            right: -18px;
            transform: translateY(-50%);
            transition: transform 0.5s ease;
          }
          &:hover::after {
            background-image: url('../img/chevron-bold.svg');
            transform: translateY(-50%) rotate(0);
          }
          .sub-menu {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 8px;
            list-style: none;
            padding: 23px;
            margin: 0;
            position: absolute;
            top: 50px;
            left: 0;
            background: $secondary-color;
            border: 1px solid #ccc;
            border-radius: 31px;
            width: fit-content;
            min-width: 260px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease;
            z-index: 100;
            li{
              margin: 0;
              a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $primary-color;
                text-transform: none;
                font-size: 12px;
                font-weight: 300;
                position: relative;
                padding: 10px 38px 10px 16px;
                border: 0.5px solid rgba(67, 67, 65, 0.5);
                border-radius: 30px;
                img{
                  width: 27px;
                  height: 27px;
                  border-radius: 50%;
                  margin-right: 10px;
                }
                &:before{
                  display: none;
                }
                &:hover{
                  font-weight: 700;
                  border: 0.8px solid rgba(67, 67, 65, 0.8);
                }
              }
            }
            &:before{
              content: "";
              display: block;
              width: 100%;
              height: 30px;
              position: absolute;
              top: -30px;
              left: 0;
            }
          }
          &.non-flag{
            .sub-menu{
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              left: unset;
              right: 0;
            }
          }
          &:hover .sub-menu {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      a {
        margin: 0 10px;
        text-decoration: none;
        color: $primary-color;
        font-size: $font-size;
        transition: color 0.3s ease;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

}


// Page Styles

.main{
  position: relative;
  top: 127px;
}
.hero{
  background-image: url('../img/van-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 100px;
  h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .hero-list{
    margin: 33px 0 50px;
    max-width: 470px;
    padding: 20px 20px 40px 35px;
    li{
      position: relative;
      margin-bottom: 45px;
      color: $primary-color;
      font-size: 22px;
      font-weight: 300;
      b{
        font-weight: 700;
      }
      &:last-child{
        margin-bottom: 0;
      }
      &::marker {
        font-size: 14px;
      }
    }
  }
}
.info-section{
  padding: 100px 0 32px;
  .info-wrap{
    padding: 0 100px;
    .info-text {
      margin-bottom: 30px;
      p {
        text-align: center;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .bold-text{
      font-weight: 700;
      margin-top: 30px;
      text-align: center;
    }
  }
}
.services-section{
  padding: 32px 0 40px;
  .services-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    .services-item{
      display: flex;
      align-items: center;
      padding: 25px 48px;
      border: 1px solid $primary-color;
      border-radius: 50px;
      transition: all 0.3s ease;
      .services-icon{
        display: flex;
        align-items: center;
        p{
          font-weight: 400;
          margin-left: 20px;
        }
      }
      svg{
        transform: translateX(10px);
        transition: transform 0.5s ease;
      }
      &:hover{
        box-shadow: 0 0 14px 0 rgba(67, 67, 67, 0.5);
        transition: box-shadow 0.3s ease;
      }
      &:hover svg{
        transform: translateX(55px);
        transition: transform 0.5s ease;
      }
    }
  }
}
.can-do-section{
  padding: 40px 0 50px;
  .title-two-row{
    margin: 0 auto 80px;
    .line-text{
      width: fit-content;
      margin: 0 auto;
    }
    .line{
      &.line-1{
        top: 25%;
      }
      &.line-2{
        top: 75%;
      }
    }
  }
  .can-do-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    .can-do-left{
      width: 50%;
      padding-right: 115px;
    }
    .can-do-right{
      width: 50%;
      padding-left: 115px;
      border-left: 1px solid $primary-color;
    }
    .can-do-item {
      padding: 0;
      margin-bottom: 70px;
      &:last-child{
        margin-bottom: 0;
      }
      .title-can-do{
        margin-bottom: 16px;
        font-size: $font-size;
        font-weight: 700;
        padding-bottom: 16px;
        border-bottom: 1px solid $primary-color;
        min-height: 60px;
      }
      .text-can-do{
        margin-bottom: 20px;
        font-weight: 300;
        font-size: $font-size;
        min-height: 70px;
      }
      &:last-child .text-can-do{
        margin-bottom: 0;
        min-height: unset;
      }
    }
  }
}
.choice-section{
  padding: 50px 0 0;
  .choice-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card-choice {
    width: calc(50% - 15px);
    margin-bottom: 60px;
    padding-top: 85px;
    position: relative;
    .choice-count {
      font-size: 250px;
      font-weight: 400;
      position: absolute;
      opacity: 0.05;
      left: 0;
      top: -60px;
    }
    .card-choice-title{
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom: 0.3px solid rgba(67, 67, 65, 0.5);
      width: fit-content;
    }
    p {
      line-height: 130%;
    }
  }
}
.collab-section{
  padding: 50px 0;
  .collab-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    .collab-flag{
      width: 10.5%;
      padding-top: 33px;
      img{
        width: 100%;
      }
    }
    .collab-content{
      width: 75%;
      hr {
        margin: 32px 0;
        border: 0.5px solid rgba(67, 67, 65, 0.5);
      }
      h2{
        font-size: 22px;
        font-weight: 700;
        line-height: 130%;
      }
      h3{
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
      }
      ul{
        padding-left: 30px;
        list-style-type: disc;
        padding: 5px 0 25px 30px;
        li{
          font-weight: 300;
          line-height: 130%;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
          &::marker {
            font-size: 13px;
          }
        }
      }
      p{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}
.review-section{
  padding: 50px 0;
}
.partners-section{
  padding: 50px 0;
  .marquee-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
  }
  .marquee {
    display: flex;
    width: max-content;
    animation: scroll-left 30s linear infinite;
  }
  .marquee-content {
    display: flex;
    align-items: center;
  }
  .marquee-content img {
    margin: 0 44px;
  }
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
.faqs-section{
  padding: 50px 0;
  .faqs-content{
    margin-top: 30px;
  }
  .faqs-accordion{
    margin-top: 80px;
    .faqs-item{
      padding: 30px 0 35px;
      border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);
      border-top: 0.5px solid rgba(67, 67, 65, 0.5);
      .faqs-item-title{
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        position: relative;
        &::after {
          content: '+';
          position: absolute;
          right: 17px;
          top: -18px;
          font-size: 50px;
          font-weight: 100;
        }
        &.active{
          &::after {
            content: '_';
            top: -38px;
            font-size: 47px;
          }
        }
      }
      .faqs-item-content{
        padding-top: 30px;
      }
    }
  }
}
.algorithm-section{
  padding: 50px 0 65px;
  .algorithm-info{
    text-align: center;
    margin: auto;
    max-width: 80%;
    padding: 10px 0;
  }
  .algorithm-content{
    margin-top: 50px;
    border-top: 0.5px solid rgba(67, 67, 65, 0.5);
    padding: 60px 0 10px;
    .algorithm-item{
      margin-bottom: 123px;
      display: flex;
      justify-content: space-between;
      &:last-child{
        margin-bottom: 0;
      }
      .algorithm-item-number{
        font-size: 200px;
        font-weight: 400;
        width: 23%;
        opacity: 0.05;
        line-height: 0.75;
      }
      .algorithm-item-content{
        width: 74.5%;
        .algorithm-item-title{
          font-size: 32px;
          font-weight: 400;
          position: relative;
          margin-bottom: 18px;
          &::after {
            content: '';
            position: absolute;
            width: 370px;
            height: 0.3px;
            background-color: $primary-color;
            bottom: -8px;
            left: 0;
          }
        }
        .list-title{
          font-weight: 500;
          margin-bottom: 10px;
        }
        ul{
          padding-left: 30px;
          list-style-type: disc;
          padding: 0 0 30px 25px;
          li{
            font-size: 18px;
            font-weight: 300;
            line-height: 130%;
            margin-bottom: 15px;
            b{
              font-weight: 500;
            }
            &::marker {
              font-size: 13px;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
        }
        .note{
          font-weight: 700;
          font-style: italic;
        }
      }
      &.algorithm-item-last{
        margin-top: 172px;
        .algorithm-item-number{
          line-height: 0.9;
        }
      }
    }
  }
}


// FOOTER

.footer{
  position: relative;
  top: 127px;
  padding-bottom: 35px;
  .footer-content{
    padding: 22px 0 44px;
    border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);
    border-top: 0.5px solid rgba(67, 67, 65, 0.5);
    display: flex;
    justify-content: space-between;
    .footer-logo{
      margin-right: 80px;
      img{
        width: 118px;
      }
    }
    .footer-info{
      max-width: 260px;
      margin-right: 40px;
      p{
        font-weight: 300;
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        b{
          font-weight: 700;
        }
      }
    }
    .footer-menu{
      min-width: 205px;
      margin-right: 95px;
      h3{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      ul{
        padding-left: 5px;
        li{
          margin-bottom: 8px;
          .current-menu-item{
            a{
              &:before{
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $primary-color;
                position: absolute;
                left: 0;
                bottom: 0;
              }
            }
          }
          a{
            font-weight: 300;
            font-size: 16px;
            color: $primary-color;
            position: relative;
            &:before{
              content: "";
              display: block;
              width: 100%;
              height: 1px;
              background-color: $primary-color;
              position: absolute;
              left: 0;
              bottom: 0;
              transform: scaleX(0);
              transform-origin: right;
              transition: transform .3s cubic-bezier(.33,1,.68,1);
            }
            &:hover:before{
              transform: scaleX(1);
              transform-origin: left;
              transition: transform .3s cubic-bezier(.33,1,.68,1);
            }
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    .footer-contacts {
      h3{
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 9px;
        text-transform: uppercase;
      }
      a{
        margin-bottom: 8px;
        font-weight: 300; 
        font-size: 16px;
        color: $primary-color;
        position: relative;
        display: block;
        transition: color .3s cubic-bezier(.33, 1, .68, 1);
        &:hover {
          color: #000;
          transition: color .3s cubic-bezier(.33, 1, .68, 1);
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
      .footer-contacts-item{
        margin-bottom: 8px;
        display: flex;
        .socials{
          margin-right: 20px;
          width: 70px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          a {
            margin-bottom: 5px;
            img {
              width: 20px;
              transition: filter 0.3s ease;
            }
            &:hover img{
              filter: grayscale(100%);
            }
          }
        }
      }
    }
  }
  .footer-bottom{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright{
      font-weight: 300;
      font-size: 12px;
    }
    .footer-bootom-menu{
      display: flex;
      li{
        padding-right: 80px;
        padding-left: 80px;
        a{
          font-weight: 300;
          font-size: 12px;
          color: $primary-color;
          transition: color 0.3s ease;

          &:hover {
            color: #000;
            transition: color 0.3s ease;
          }
        }
        &:first-child{
          padding-left: 0;
          border-right: 0.5px solid rgba(67, 67, 65, 0.5);
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }
  }
}


// Contacts

.contacts-section{
  padding: 66px 0 76px;
  .contacts-wrap{
    margin-top: 35px;
    .contacts-info{
      text-align: center;
      margin-bottom: 32px;
    }
    .contacts-items{
      display: flex;
      justify-content: space-between;
      .contacts-item {
        width: 31.5%;
        border-top: 0.5px solid rgba(67, 67, 65, 0.5);
        padding-top: 25px;
        a{
          font-weight: 300;
          font-size: 18px;
          color: $primary-color;
          transition: color 0.3s ease;
          display: block;
          margin-bottom: 27px;
          position: relative;
          &:hover{
            color: #000;
            transition: color 0.3s ease;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
        .social-contacts-item{
          display: flex;
          align-items: center;
          .socials{
            display: flex;
            margin-right: 15px;
            a{
              margin-bottom: 0;
              line-height: 0;
              margin-right: 8px;
              &:last-child{
                margin-right: 0;
              }
              img{
                width: 20px;
                transition: filter 0.3s ease;
              }
              &:hover img{
                filter: grayscale(100%);
              }
            }
          }
        }
      }
    }
  }
}

#map{
  width: 100%;
  height: 485px;
  margin-top: 47px;
}


// Cremation

.page-hero{
  padding: 25px 0 40px;
  .cremation-hero-content{
    position: relative;
    .cremation-hero-text {
      width: 75%;
      margin-left: auto;
      h3{
        font-size: 32px;
        font-weight: 500;
        padding: 22px 0;
        border-top: 0.5px solid rgba(67, 67, 65, 0.5);
        border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);
        margin-bottom: 32px;
      }
      .cremation-text{
        padding: 0 0 32px;
        border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);
        margin-bottom: 47px;
        p{
          margin-bottom: 10px;
        }
      }
    }
    .cremation-hero-img{
      max-width: 25%;
      position: absolute;
      left: 0;
      bottom: -185px;
      z-index: 3;
      &.top-img{
        bottom: 0;
      }
    }
  }

}
.happened-section{
  padding: 40px 0;
  margin-top: 33px;
  .happened-content{
    p{
      margin-bottom: 16px;
    }
    hr{
      margin: 32px 0;
      border: 0.5px solid rgba(67, 67, 65, 0.5);
    }
  }
  .happened-list{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px 30px;
    li{
      a{
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 18px;
        color: $primary-color;
        transition: all 0.3s ease;
        padding: 18px 55px 18px 44px;
        border: 0.5px solid rgba(67, 67, 65, 0.5);
        border-radius: 50px;
        img{
          margin-right: 15px;
        }
        &:hover{
          font-weight: 700;
          border: 1px solid rgba(67, 67, 65);
          transition: all 0.3s ease;
        }
      }
    }
  }
}
.urn-section{
  padding: 40px 0;
  .urn-content{
    margin: 32px 0 64px;
  }
  .urn-products {
    .swiper-product {
      .swiper-wrapper {
        align-items: stretch;
        margin-left: 1px;
        .swiper-slide {
          border-right: 0.5px solid rgba(67, 67, 65, 0.5);
          display: flex;
          justify-content: center;
          align-items: center;
          height: auto;
          .urn-product {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
          }
        }
      }
    }
  }
}
.farewell-section{
  padding: 40px 0;
  .farewell-content{
    margin: 33px 0 40px;
    h4{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    p{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.cremation-single-lists{
  margin-top: 25px;
  padding-bottom: 32px;
  border-bottom: 0.5px solid rgba(67, 67, 65, 0.5);
  display: flex;
  .cremation-single-list{
    width: 50%;
    .cremation-title-list{
      font-weight: 700;
      margin-bottom: 25px;
      font-size: 18px;
    }
    &.cremation-single-lists-left{
      padding-right: 115px;
    }
    &.cremation-single-lists-right{
      padding-left: 115px;
      border-left: 0.5px solid rgba(67, 67, 65, 0.5);
    }
    .cremation-list{
      padding-left: 15px;
      li{
        position: relative;
        margin-bottom: 20px;
        color: $primary-color;
        font-size: 18px;
        font-weight: 300;
        list-style-type: disc;
        b{
          font-weight: 700;
        }
        &:last-child{
          margin-bottom: 0;
        }
        &::marker {
          font-size: 18px;
        }
      }
    }
  }
}
.cremation-costs {
  padding-top: 15px;
  .costs-value {
    margin: 32px 0 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .value-cost {
      font-weight: 700;
      max-width: 57%;
    }
  }
}

// Pages

.lists-section{
  padding: 40px 0;
  .lists-content{
    padding-top: 12px;
    margin: 33px 0 64px;
    h3{
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 32px;
    }
    h4{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p{
      margin-bottom: 22px;
    }
    ul{
      list-style-type: disc;
      padding-left: 15px;
      margin-bottom: 32px;
      &.two-column-list {
        column-count: 2;
      }
      li{
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 300;
        padding-right: 135px;
        &::marker{
          font-size: 14px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .lists-note{
    padding: 32px 0;
    border-top: 0.5px solid rgba(67, 67, 65, 0.5);
  }
  .cremation-costs{
    border-top: 0.5px solid rgba(67, 67, 65, 0.5);
    .costs-value{
      margin: 26px 0 0;
    }
  }
  h1{
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}


@media (max-width: 1180px) {
  .container{
    padding: 0 15px;
    max-width: 100%;
  }
  .header {
    .header-wrapper {
      .nav {
        li {
          margin-right: 25px;
        }
      }
    }
  }
  .hero {
    padding: 80px 0 40px;
  }
  .info-section {
    padding: 40px 0 32px;
  }
  .services-section {
    .services-items {
      grid-column-gap: 20px;
    }
  }
  .services-section {
    .services-items{
      .services-item{
        &:hover svg {
          -webkit-transform: translateX(35px);
          transform: translateX(35px);
        }
      }
    }
  }
  .can-do-section {
    .can-do-list {
      .can-do-left {
        padding-right: 65px;
      }
      .can-do-right {
        padding-left: 65px;
      }
    }
  }
  .title-section {
    .line-text {
      font-size: 50px;
      padding: 0 30px;
    }

  }

}

@media (max-width: 992px) {

}